header {
     background: white;
     height: 70px;
     width: 100%;
     border-bottom: 1px solid #CCCCCC;
}
header.logo {
     background: white url(../images/logo.png) no-repeat;
     left: 20px;
     height: 100%;
}

header #api_status {
     text-align: right;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     right: 30px;
     top: 10px;
     position: absolute;
     background-color: #cccccc;
}

.available {
     background-color: #ff545f !important;
}
